{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@google/semantic-release-replace-plugin", {
        "replacements": [
          {
            "files": ["Project.toml"],
            "from": "version = \"${lastRelease.version}\"",
            "to": "version = \"${nextRelease.version}\"",
            "results": [
              {
                "file": "Project.toml",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ],
    [
      "@semantic-release/changelog", {
        "changelogTitle": "Changelog"
      }
    ],
    [
      "@semantic-release/git", {
        "assets": ["CHANGELOG.md", "Project.toml"],
        "message": "chore: release v${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ],
  "repositoryUrl": "git@github.com:bauglir/Kroki.jl.git"
}
