---
name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          semantic_version: 25.0.3
          extends: |
            @ethima/semantic-release-configuration
          extra_plugins: |
            @ethima/semantic-release-configuration
      - name: Notify JuliaRegistrator of new release
        uses: peter-evans/commit-comment@v3
        if: steps.semantic-release.outputs.new_release_published == 'true'
        with:
          body: '@JuliaRegistrator register branch=${{ steps.semantic-release.outputs.new_release_git_tag }}'
